{% extends 'base.html' %}
{% load static %}
{% block title %}Klublar{% endblock title %}
{% block header %}

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="{% url 'home' %}" class="logo-photo me-auto"><img src="{% static 'assets/img/faviconblue.png'%}" alt="" class="img-fluid"></a>
    <h1 class="logo me-auto"><a href="{% url 'home' %}">Gəncə şəhəri Fizika Riyaziyyat və İnformatika<br> təmayüllü lisey</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a  href="{% url 'home' %}">Ana səhifə</a></li>
        <li class="dropdown"><a href="#"><span>Lisey haqqında</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'about' %}">Direktorun mesajı</a></li>
            <li><a href="{% url 'mission' %}">Məqsəd və vəzifə</a></li>
            <li><a href="{% url 'edusys' %}">Təhsil sistemi</a></li>
          </ul>
        </li>
        <li><a href="results.html">İmtahan nəticələri</a></li>
        <li class="dropdown"><a class="active" href="#"><span>Fəaliyyətlər</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/contests/1">Müsabiqələr</a></li>
            <li><a href="/events/1">Tədbirlər</a></li>
            <li><a  href="{% url 'associations' %}">Dərnəklər</a></li>
            <li><a class="active" href="{% url 'clubs' %}">Klublar</a></li>
          </ul>
        </li>
        <li><a  href="{% url 'achievements' %}">Nailiyyətlər</a></li>
        <li class="dropdown"><a  href="#"><span>Məzunlar</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a  href="{% url 'alumni2022' %}">2022</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <a href="https://edu.gov.az/az/announcements/16235-1" target="_blank" class="get-started-btn">Qeydiyyatdan keç</a>

  </div>
</header>

{% endblock header %}
{% block start %}

<main id="main">

  <main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Klublar</h2>
      </div>
    </div>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content_edusys">
            <h2>Kimya klubu</h2>
            <p>İdarəedicilər:....</p>
            <h2>İnformatika klubu</h2>
            <p>....</p>
            <h2>Şahmat klubu</h2>
            <p>...</p>
            <h2>Basketbol klubu</h2>
            <p>...</p>
          </div>
        </div>

      </div>
    </section>

{% endblock start %}

