{% extends 'base.html' %}
{% load static %}
{% block start %}
{% block title %} Ana səhifə {% endblock title %}
{% block header %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="{% url 'home' %}" class="logo-photo me-auto"><img src="{% static 'assets/img/faviconblue.png'%}" alt="" class="img-fluid"></a>
    <h1 class="logo me-auto"><a href="{% url 'home' %}">Gəncə şəhəri Fizika Riyaziyyat və İnformatika<br> təmayüllü lisey</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="active" href="{% url 'home' %}">Ana səhifə</a></li>
        <li class="dropdown"><a href="#"><span>Lisey haqqında</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'about' %}">Direktorun mesajı</a></li>
            <li><a href="{% url 'mission' %}">Məqsəd və vəzifə</a></li>
            <li><a href="{% url 'edusys' %}">Təhsil sistemi</a></li>
          </ul>
        </li>
        <li><a href="results.html">İmtahan nəticələri</a></li>
        <li class="dropdown"><a href="#"><span>Fəaliyyətlər</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/contests/1">Müsabiqələr</a></li>
            <li><a href="/events/1">Tədbirlər</a></li>
            <li><a href="{% url 'associations' %}">Dərnəklər</a></li>
            <li><a href="{% url 'clubs' %}">Klublar</a></li>
          </ul>
        </li>
        <li><a href="{% url 'achievements' %}">Nailiyyətlər</a></li>
        <li class="dropdown"><a href="#"><span>Məzunlar</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'alumni2022' %}">2022</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <a href="https://edu.gov.az/az/announcements/16235-1" target="_blank" class="get-started-btn">Qeydiyyatdan keç</a>

  </div>
</header>

{% endblock header %}
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Həyatını müəllimliyə həsr edən insanlar, həqiqətən, fədakar, xalqına, millətinə sədaqətli<br>və eyni zamanda qəhrəmanlıq göstərən insanlardır.</h1>
    <h2>Heydər Əliyev</h2>
    <a href="https://edu.gov.az/az/announcements/16235-1" target="_blank" class="btn-get-started">Qeydiyyatdan keç</a>
  </div>
</section>

<main id="main">
  <section id="news" class="news">
    <div class="flat-row lastest-new">
      <div class="container" data-aos="zoom-in">
        <div class="flat-title-section">
          <h1 class="title"><strong>Xəbərlər</strong><span class="read-all"><a href="/news/1"><strong>Bütün Xəbərlər</strong></a></span></h1>
          <hr>
        </div>
        <div class="row post-lastest-new" data-aos="zoom-in">
          
          {% for lisey in lisey  %}
            {% include "partials/_news.html" %}
          {% endfor %}

        </div>
      </div>
    </div>
  </section>
</main>

<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="{% static 'assets/img/about.png'%}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Niyə Gəncə FRİTL?</h3>
        <p class="fst-italic">
          əgər sən də
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> olimpiadalara qatılmaq</li>
          <li><i class="bi bi-check-circle"></i> DİM imtahanından yüksək nəticə yığmaq</li>
          <li><i class="bi bi-check-circle"></i> STEAM dərslərinə qatılmaq</li>
        </ul>
        <p>
          istəyirsənsə bizimlə birlikdə hər şey daha asan olacaq
        </p>

      </div>
    </div>

  </div>
</section>

<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
        <p>Ümumi şagird sayı</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter"></span>
        <p>Universitetə qəbul olmuş şagird sayı</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
        <p>Müəllim sayı</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
        <p>Olimpiadaçı sayı</p>
      </div>
    </div>
  </div>
</section>

<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Niyə Gəncə FRİTL?</h3>
          <p>
            Olimpiadalar üzrə Azərbaycanda nömrə 3 olan və ümumi göstəricilərə əsasən yüksək reytinqli Gəncə FRİTL övladınızın gələcək həyatında böyük rol oynayacaq.
          </p>
          <div class="text-center">
            <a href="{% url 'about' %}" class="more-btn">Daha çox<i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-medal"></i>
                <h4>Olimpiadalara qatılmaq</h4>
                <p>Hər il şagirdlərimiz respublika və beynəlxalq olimpiadalara qatılır və müxtəlif dərəcəli mükafatlar qazanırlar.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-book-open"></i>
                <h4>DİM imtahanından yüksək nəticə yığmaq</h4>
                <p>Məzunlarımızın 90%-i 500+ DİM imtahanından nəticə göstərirlər.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-laptop"></i>
                <h4>STEAM dərslərinə qatılmaq</h4>
                <p>Şagirdlərimiz Steam Azerbaijan Festivalı, Teknofest və başqa STEAM-lə bağlı yarışlara qatılırlar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock start%}